body {
    padding: 0;
    user-select: none;
    overflow: hidden;
}

/* loadingWrapper */
#loadingWrapper {
    position: fixed;
    inset: 0;
    z-index: 99999;
    background-color: var(--color-1);
    opacity: 1;
    transition: 0.5s;
}
#loadingWrapper.hidden {
    opacity: 0;
}

#loadingWrapperSliderWrapper {
    height: 1em;
    width: 50%;
    border-radius: 99em;
    background: var(--inverted-soft);
    overflow: hidden;
    transition: 0.25s;
}

#loadingWrapperSlider {
    height: 100%;
    width: 0%;
    background: var(--accent);
    transition: 0.25s;
}

/* header */

#playlistCoverContainer {
    position: relative;
    width: calc(100% - 4em);
    padding: 2em;
    display: flex;
    align-items: center;
}
#playlistCoverContainer > #backgroundPlaylistCover {
    position: absolute;
    inset: 0;
    z-index: -1;
    background-size: cover;
    background-position: center;
    filter: blur(5px);
    opacity: 0.5;
    transition: 0.25s;
}

#playlistCover {
    width: 10em;
}

#playlistTitle {
    margin: 1em;
    font-weight: 700;
    font-size: 2em;
    text-shadow: black 0 0 20px;
}

/* SongList */

#songList {
    margin: auto;
    padding-bottom: 60px;
    width: 75%;
    margin-top: 1em;
    justify-content: center;
    overflow: hidden;
}
#songList > div {
    position: relative;
    border-radius: var(--radius-medium);
    margin: 0.5em;
    flex-wrap: nowrap;
    height: 4em;
}
#songList > div > .img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: var(--radius-small);
}
#songList > div > div.flex {
    padding: 1em;
    text-align: left;
    margin-left: 5em;
}
#songList .songTitle {
    font-size: 1.25em;
}
#songList .songAuthor {
    font-size: 0.75em;
    opacity: 0.5;
}

@media screen and (max-width: 860px) {
    #songList {        
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
        align-items: stretch;
        text-align: center;
        width: 100%;
        margin-top: 0em;
    }
    #playlistCoverContainer {        
        justify-content: center;
    }
}

/* Player */

.player {
    border: solid 1px var(--inverted-soft);
    color: var(--inverted);
    fill-opacity: 0.5;
    padding-left: 1em;
    padding-right: 0.5em;
    width: 75%;
    transition: 0.25s;
    box-shadow: #00000088 0 0 10px;
    overflow: hidden;
    fill-opacity: 1;
}
@media (prefers-color-scheme: light) {
    .player {
        background-color: #ffffff88;
    }
}
.player::before {
    z-index: -2;
    content: '';
    position: absolute;
    inset: 0;
    background: transparent;
    backdrop-filter: blur(10px);
}
.player::after {
    z-index: -1;
    content: '';
    position: absolute;
    inset: 0;
    background: var(--color-1);
    opacity: 0.5;
}
.player.hidden {
    bottom: -75px;
}

.player .flex {
    flex-wrap: nowrap;
}

.player > .flex {
    height: 48px;
    padding-top: 4px;
    width: 100%;
    justify-content: space-between;
}

/* player elements */
.player #playerImg {    
    width: 2em;
}
.player .flex#playerInfo {
    font-size: 0.9em;
    padding-left: 1em;
    text-align: left;
}

.player .songTitle {
    font-size: 1.25em;
    white-space: nowrap;
}
.player .songAuthor {
    font-size: 0.75em;
    opacity: 0.5;
    white-space: nowrap;
}
@media screen and (max-width: 422px) {
    .player .songTitle {
        font-size: 1em;
    }
    .player .songAuthor {
        font-size: 0.5em;
    }
}

.player .volume {
    position: relative;
    margin-left: 1em;
    padding: 0.1em;
    padding-inline: 0.25em;
    border-radius: var(--radius-medium);
    overflow: hidden;
    transition: 0.25s;
}
.volume::before {
    content: '';
    z-index: -1;
    position: absolute;
    inset: 0;
    background-color: var(--color-2);
    opacity: 0.5;
}

@media (prefers-color-scheme: dark) {
    .player .volume input {
        filter: invert(1);
    }
}

    /* buttons */
.player .playpause {
    cursor: pointer;
    height: 1em;
    box-sizing: border-box;
    border-style: solid;
    border-width: 0.5em 0px 0.5em 1em;
    border-color: transparent transparent transparent currentColor;
    transition: all 100ms ease-in-out;
}
.player .playpause.paused {
    border-style: double;
    border-width: 0px 0px 0px 1em;
}

.player #download, .player #volumeIcon {
    width: 1.75em; 
    height: 1.75em; 
    fill: currentColor;
    color: currentColor;
    transition: 0.25s;
}

.player .volume #volumeSlider {
    width: 0;
    transition: 0.25s;
    opacity: 0;
    pointer-events: none;
}
.player .volume:hover #volumeSlider {
    width: 5em;
    opacity: 1;
    pointer-events: all;
}

/* player progress */
#playerProgress {
    z-index: 10;
    position: fixed;
    width: 70%;
    bottom: 48.5px;
    top: unset;
    transition: 0.25s;
}
@media (prefers-color-scheme: dark) {
    #playerProgress {
        filter: invert(1);
    }
}

.player.hidden ~ #playerProgress {
    bottom: -10px;
}

#playerProgress::-webkit-slider-runnable-track {
    height: 5px;
}
#playerProgress::-webkit-slider-thumb {    
    position: relative;
    bottom: 5px;
}
